data/*
test_logs/*
!data/sample_user_profiles
venv/
.env
.env*
!.env.example
gabm_interviewer_platform/
notebooks/
logs/
*.pyc
.DS_Store
.vscode/
*.db
data/interview_app.db
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
environment.yml
package-lock.json
# SSL certificates
*.pem
*.key
*.crt